body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("gym_html.jpg");
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 0.5em;
    transform: translateY(-10px);
    
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.2em;
    border-radius: 4px;
    background-color: #555;
}

nav a:hover {
    background-color: #666;
}

main {
    padding: 1em;
}
footer{
    color: #fff;
}
h2{
    color: white;
}
p{
    color: #fff;
}
button{
    background-color: limegreen;
}
div{
    height: 500px;
    font-size: 45px;
    
}
footer{
    text-align: center;
}
#new{
    height: 122px;
    
}   
a{
    text-decoration: dotted;
    color: rgb(5, 5, 5);
}
button:hover{
    background-color: darkred;
    color: azure;
    transition-property: all;
    transition-duration: 2s;
    font-size: 15px;
    font-style: italic;
    transform: translate(5px);
    transform: skew(0deg);
}
button:active{
    background-color: white;
    color: white;

}